.heading{
  text-align: center;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('NYC.jpg') no-repeat 100% -66px;
    background-size: 100%;

  background-size: cover;
  height: 400px;
  color: red;
  margin: 0px;
  padding: 0px;
}

.heading4{
  text-align: center;
   background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('jackswife.jpg') no-repeat 100% -66px;
  background-size: cover;
  height: 400px;
  color: red;
  margin: 0px;
  padding: 0px;
    background-size: 100%;
}

h1{
  margin: 0px;
  padding: 0px;
  color: white;
 font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 100px;
}

.heading5{
  text-align: center;
   background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('russ.jpg') no-repeat 100% -140px;
  background-size: cover;
  height: 400px;
  color: red;
  margin: 0px;
  padding: 0px;
    background-size: 100%;
}
.heading7{
  text-align: center;
   background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),  url('bar.jpg') no-repeat 100% -200px;
  background-size: cover;
  height: 400px;
  color: red;
  margin: 0px;
  padding: 0px;
    background-size: 100%;
}
li{
   font-family: 'PT Sans', sans-serif;
}


nav{
  margin: 0px;
  padding: 0px;
}


body {
margin: 0px;
padding: 0px;
 font-family: 'PT Sans', sans-serif;
}

ul{
  list-style-type: none;
}
.dabody{
  background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url('pizza.jpg') no-repeat -150px;
  text-align: center;
}
.signupbody{
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('amplehills.jpg') no-repeat;
    background-size: 100%;
  text-align: center;
}

.heading3{
  text-align: center;
   background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url('coffee.jpg') no-repeat 100% -66px;
  background-size: cover;
  height: 400px;
  color: red;
  margin: 0;
  padding: 0;
  background-size: 100%;
    background-size: 100%;

}

@media only screen and (max-width: 700px){
  .heading3 { height: 200px; }
  .heading4 { height: 200px; }
  .heading5 { background-size: 150%; }
  .heading5 { height: 200px; }
  .heading7 { background-size: 150%; }
  .heading7  { height: 200px; }
  .dabody {height:100%;}


}
@media only screen and (max-width: 800px){

    .heading5 { background-size: 120%; }


}
@media only screen and (max-width: 900px){
        .heading7{ background-size: 120%; }
}
@media only screen and (max-width: 960px){
     .signupbody {background-size:200%;}
  }

 @media only screen and (max-width: 600px){
     .signupbody {background-size:300%;}
  }

  @media only screen and (max-width: 500px){
        .heading7{ background-size: 200%; }

}
/* div{
  border: black solid 5px;
}
 */
.col-md-6{
  text-align: center;
}

.col-md-8{
  text-align: center;
}

.welcome{
  text-align: center;
}

.newform{
  text-align: center;
  margin-top: 50px;
}

h2{
  color: black;
}
.search{
  text-align: center;
}

.space{
  height: 100px;
}

input{
  width: 300px;
}

.text{
  text-align: center;
}

.confirmation{
 background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),  url('loopy.jpg');
  background-size: cover;
    background-size: 100%;
}

.confirmation2{
  text-align: center;
}

.confirmation2 h2{
  text-align: center;
  color: white;
  font-size:  50px;
}


.confirmation2 a{
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.col-md-3{
  text-align: center;
}

.indexpage{
  color: white;
  font-size: 20px;
}

#high{
  font-size: 75px;
}

form{
  width: 300px;
}
legend{
  color: white;
}
label{
  color: white;
}
.herez{
  margin-top: 100px;
}

.signupform{
  text-align: center;
  color: white;
  margin-top: 100px;
}


.signupform a{
  text-align: center;
  color: white;
}

.signup{
  padding-top: 100px;
}

.youdidit{
  font-size: 30px;
}

.error{
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('artichoke.jpg') no-repeat;
    background-size: 100%;
  text-align: center;
}

.contact{
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('tacombi.jpg') no-repeat;
background-size: 100%;
  text-align: center;
}

.yourlists{
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.spacer{
  margin-top: 10px;
}

.about{
  background: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ), url('clinton.jpg') no-repeat;
    background-size: 100%;
  text-align: center;
}

.aboutparagraph{
  margin-top: 30px;
  font-size: 20px;
  color: white;
}

.contactdiv{
  margin-top: 10px;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.link{
  text-decoration: none;
  color: white;
}

.link:hover{
  color: blue;
}

.top{
  margin-top: 20px;
}

.container-fluid{
  text-align: center;
}

.notamember{
  font-size: 20px;
}
